raydencardgames.duckdns.org {
    reverse_proxy /ws localhost:8787
    reverse_proxy /health localhost:8787

    respond "CardGames backend is running"
}

wmatavisualization.duckdns.org {
    reverse_proxy localhost:8050
}